.text-brand{
  color:rgb(32, 35, 43);
  font-weight: 600;
}
.text-small{
  color: #56ab2f;
}
.btn-brand{
  background-image: linear-gradient( #90d867,#0ca125 );
  border: none;
  padding:10px 40px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}
.swiper-container {
  width: 600px;
  height: 300px;
}