.text-brand{
  color:rgb(31, 25, 25);
  font-weight: 600;
}
.text-small{
  color: #47b938;
  font-weight: 500;
}
.btn-brand{
  background-image: linear-gradient( #90d867,#0ca125 );
  border: none;
  padding:10px 40px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}



.footer-section{
  background-image: url(./image/about.jpg);
}

.footerLi li{ 
  text-decoration: none;
  color: gray;
}